@media all and (max-width: 550px) {
     body {
          background-color: red !important;
     }

     .input-container {
          width: 350px !important;
     }

     .search-result{
          width: 450px;
     }
}