@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');


@mixin flex-props {
     display: flex;
     justify-content: center;
     align-items: center;
}

// variables used
$dark: #23272F;
$light: #FFFFFF;
$ph-sa: #747272;
$search-icon-bg: #F2F2F2;
$link: #539BF5;

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Actor';
}

body {
     background-color: $dark;
     padding: 20px;
}

.header {
     @include flex-props;
     color: $light;

     .github-icon-container {
          height: 50px;
          width: 50px;
          background-color: $light;
          border-radius: 8px;
          @include flex-props;

          .fa-github {
               color: $dark;
               font-size: 30px;
          }
     }


     .input-container {
          margin: 0 15px;
          height: 50px;
          width: 400px;
          display: flex;
          border-radius: 8px;
          overflow: hidden;

          input {
               width: 85%;
               height: 100%;
               border: 0;
               outline: 0;
               padding: 15px;
               font-size: 16px;
               letter-spacing: .6px;
          }

          .glass-container {
               width: 15%;
               height: 100%;
               background-color: $search-icon-bg;
               cursor: pointer;
               @include flex-props;

               .fa-magnifying-glass {
                    font-size: 20px;
                    color: $ph-sa;
               }
          }

     }

     .fa-sun {
          font-size: 20px;
          cursor: pointer;
     }
}